#* * * * * root echo "A minute has past." >> /var/log/cron.log 2>&1
30 17 * * 0,2,3,4,5,6 root /usr/bin/python3 /djsets/streamingFromNAS.py >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
